a#scrollUp {
  background: none repeat scroll 0 0 #000000;
  border-radius: 13px;
  bottom: 50px;
  color: #FFFFFF;
  font-size: 17px!important;
  padding: 8px;
  right: 24px;
  text-align: center;
  text-decoration: none;
  border: 2px solid #FFF;
  margin: 0px
}
a#scrollUp:hover{
  background: #00AEEC;
  color: #000;
}
